@keyframes slideInFromTop {
  from {
    transform: translateY(20%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.services {
  display: flex;
  padding: 20px 20px;
  height: auto;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: center;
}
.services__main-title {
  font-size: 40px;
  margin: 0;
  margin-bottom: 50px;
  color: #ffcc00;
  align-self: center;
}

.services__tip {
  align-self: center;
  color: #ffcc00;
}

.services__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  margin-top: 40px;
  margin: 0 auto;
}

.services__description {
  text-align: center;
  color: white;
  padding: 0;
  margin: 0;
  color: white;
  opacity: 0; /* Start hidden */
}

.services__description_opened {
  box-sizing: border-box;
  text-align: center;
  padding: 0;
  margin-top: 20px;
  padding: 20px;
  color: #000;
  background-color: #ffcc00;
  border-radius: 10px;
  animation: slideInFromTop 0.5s forwards;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.7);
  height: auto;
  max-width: 1040px;
}

.service-photo {
  object-fit: cover;
  object-position: center;
  width: 250px;
  height: 400px;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.7);
}

.services__photos_opened {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
  gap: 20px;
}

.services__photos {
  position: relative;
  min-height: 200px; /* Adjust as needed to ensure spinner is centered */
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 8px solid rgba(255, 255, 255, 0.5);
  border-top: 8px solid #000;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@media screen and (max-width: 559px) {
  .service-photo {
    width: 100%;
  }
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.services__photos.loading .service-photo {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.services__photos.loaded .service-photo {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}
