.image-preview__list {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-evenly;
  padding: 0;
}

.preview-image {
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);

  width: 300px;
  height: auto;
}

.images {
  display: flex;
}
