.main {
  position: relative;

  height: 600px;
}

.main__image {
  object-fit: cover;
  object-position: center;
  border-radius: 20px;
  box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.5);
}

.main-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 600px;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 100%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.main__info {
  display: flexbox;
}

.main__mission-title {
  max-width: 700px;
  width: 100%;
  color: #ffcc00;
  font-size: 36px;
  text-align: center;
}

.main__mission-statement {
  max-width: 700px;
  width: 100%;
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 26px;
}

@media screen and (max-width: 768px) {
  .main__image,
  .main-overlay {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    object-fit: cover;
  }
  .main__mission-title {
    font-size: 24px;
  }
  .main__mission-statement {
    font-size: 18px;
  }
}

@media screen and (max-width: 480px) {
  .main__mission-title {
    font-size: 20px;
  }
  .main__mission-statement {
    font-size: 16px;
  }
}
