/* .contact {
} */

.contact__list {
  background-color: #ffcc00;
  display: flex;
  list-style: none;
  margin: 5px 0;
  justify-content: space-around;
  border-radius: 10px;
}

.contact__link {
  display: flex;
  align-items: center;
}

.contact__icon {
  width: 24px;
  height: 24px;
  margin-right: 5px;
}

.contact__info {
  margin-right: 10px;
}
