.header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(0, 0, 0);
  border: 1px solid #fe901e;
}

.header__logo {
  width: 115px;
  height: auto;
}
