.contact-page {
  max-width: 1440px;
  height: 700px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
}

.contact-page__title {
  margin: 0;
  padding: 0;
  margin-top: 20px;
  color: #ffcc00;
  align-self: center;
  margin-bottom: 20px;
}

.contact-page__info {
  color: #ffcc00;
  margin-top: 20px;
  border-radius: 10px;
  display: flex;
  text-align: center;
  justify-content: space-around;
}
.contact-page__list {
  width: fit-content;
  list-style: none;
  height: auto;
  padding: 0;
}

.contact-page__item {
  margin-top: 20px;
  width: fit-content;
}

.contact-page__list,
.contact-page__list-days {
  padding-right: 20px;
}
