.footer {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  color: #333;
  font-size: 11px;
  background-color: #ffcc00;
  border-radius: 10px;
}

.footer__info {
  margin-left: 10px;
  margin-bottom: 0;
}

.footer__container {
  display: flex;
}

.footer-links__list {
  list-style: none;
  display: flex;
  margin-bottom: 0;
}

.footer__img {
  height: 16px;
  width: auto;
}
