.nav-links {
  margin-left: auto;
}

.nav-links__list {
  display: flex;
  list-style-type: none;
  color: #000;
  margin-bottom: 0;
}

.nav-link {
  margin-right: 20px;
  color: #000;
  text-decoration: none;
}

.nav-link:hover {
  border-bottom: 2px solid #000;
}

.nav-link_active {
  border-bottom: 2px solid #000;
}

@media screen and (max-width: 768px) {
  .nav-link {
    font-size: 14px;
    margin-right: 8px;
  }
  .nav-links__list {
    margin-left: 5px;
  }
}
